@import './mixin';
@import './var';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // transition: all .3s linear;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

// scss/sass superPower 👇👇
// 1. operators 
// 2. varaibles
// 3. nesting
// 4. "mixin and parameters"
// 5.  'paratials' ex(_var.scss, _mixin.scss)




.main_header {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    // before mixin
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // after mixin
     @include flexProp;
      gap: 1rem;

    h1 {
      @include p_f_c(.4rem, 1.2rem);
        &:hover {
            color: rgba(53, 53, 53, 0.809);
            cursor: pointer;
        }

    }

    p {
     @include p_f_c(.6rem, 1.5rem);

        &:hover {
            color: rgba(127, 117, 229, 0.988);
            cursor: pointer;
        }

    }

    ul {
       background-color: white;
        padding: 1rem 2rem;
       
        // using mixin
        @include flexProp();

        li {
            background-color: $bg-color;
           @include  p_f_c(.3rem, 2.8rem);

            &::after {
                content: ' PARAS';
            }

            &:hover::after {
                color: rgb(64, 47, 249);
            }

        }
    }


}