*{
padding: 0;margin: 0;box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
// scss/sass superPower 👇👇

// 1. operators 
// 2. varaibles

$bg-color:rgb(186, 247, 86);

.main_header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $bg-color

}

h1{
    color: rgb(0, 0, 0);
    // font-size: 2rem + 2rem;
    // font-size: 6rem - 4rem;
    font-size: 3rem * 1;
}

