*{
padding: 0;margin: 0;box-sizing: border-box;
// transition: all .3s linear;
overflow-x: hidden;
}
html{
    font-size: 62.5%;
}
// scss/sass superPower 👇👇

// 1. operators 
// 2. varaibles
// 3. nesting

$bg-color:rgb(186, 247, 86);

.main_header{
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    h1{
        color: rgb(0, 0, 0);
        font-size: 3rem * 1;
      
        &:hover{
            color: rgba(53, 53, 53, 0.809);
            cursor: pointer;
        }

    }
    p{
        color: rgb(0, 0, 0);
        font-size: 3rem * 1;

        &:hover{
            color: rgba(127, 117, 229, 0.988);
            cursor: pointer;
        }

    }

    ul{
        background-color: antiquewhite;
        padding: 1rem 2rem;
        width: 50vw;
        text-align: center;

        li{
            background-color: aqua;
            font-size: 2rem;
            padding: 1rem 0;

            &::after{
                content: ' PARAS';
            }
            &:hover::after{
             color: rgb(64, 47, 249);   
            }
            
        }
    }
   

}


